body, input, select, textarea, td {
    font-size: 12pt;
    font-weight: normal;
    font-family: arial, sans-serif;
    color: #000;
}

body {
    background: #fff;
    margin: 0em;
    padding: 0;
    line-height: 1.6em;
}

a {
    color: #33f;
    text-decoration: none;
    outline: 0;
}

#content a:hover {
    text-decoration: underline;
}

img {
    border: 0;
}

h1, h2, h3 {
    font-weight: bold;
    margin: 1em 0;
    padding: 0;
}

h1 a, h2 a, h3 a {
    color: #000;
}

h1 {
    font-size: 2.0em;
}

h2 {
    font-size 1.6em;
}

h3 {
    font-size: 1.3em;
}

code, pre {
    background: #fafafa;
    font-size: 0.9em;
    border: 1px solid #ddd;
}

pre {
    line-height: 1.4em;
    padding: 0.5em;
}

#container {
    margin: 2em 5em;
}

#header {
    border-bottom: 2px solid #33f;
}

#header h1 {
    margin: 0;
}

#header h1 a {
    padding: 0.6em 0;
    width: 5em;
    display: block;
}

#footer {
    font-size: 0.8em;
    margin-top: 3em;
    border-top: 1px solid #33f;
}

#disqus_thread {
    border-top: 1px solid #48a;
    margin-top: 3em;
}

#disqus_thread #dsq-post-add-iframe {
    overflow: hidden;
}

@media print {
    #container {
        margin: 0;
    }
}
